
$progress-value-background-color:hsla(201, 31%, 28%, 1);
@import '~bulma/bulma';


// Variables
@import '_customvariable.scss';
@import '_spacing.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0 0 80px 0;
    font-family: $family-primary;
    font-size:$font-size-primary;

    letter-spacing: 0.3px;
    color:$font-color;
    font-weight: normal;
}
h3{
    font-size: $font-size-medium;
    font-family: $family-medium;
    padding: 20px 0;
    color:$privileged-color;
    text-transform: capitalize;
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active
{
    border-color:$link;
    -webkit-box-shadow: 0 0 0 0.01em $link;
    box-shadow: 0 0 0 0.01em $link;
}

.vertical-center{
    display:flex;
    align-items: center;
}
#app{
    margin-top: 30px;
}
a{
    color:$link;

    &:hover{
        color:$link !important;
    }
}
a.navbar-item{
    color:$link;
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active{
    color:$complementary;
}
.navbar-link:not(.is-arrowless)::after, .navbar-link:not(.is-arrowless)::after{
    /*    right: 1.5rem;*/
    border-color:$complementary;
}
.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link.is-active:not(.is-arrowless)::after, .navbar-link:hover:not(.is-arrowless)::after
{
    border-color:$complementary !important;
}
.navbar-link:not(.is-arrowless) {
    padding-right: 2.5em;
    //margin-left:3rem;
    /*    padding-right: 0em;*/
}
.navbar-item{
    padding-right:0px;
}
/*Buttons Styles*/
.button{
    font-family: $family-primary;
    border-color:$complementary;
    font-size:$font-size-primary;
    background-color: $complementary;
    color:white;
    border-radius: 0;
}
.button:hover, .button.is-hovered{
    border-color:transparent;
    background-color: $background-color;
    color:white;
    outline:none;
}

.button:focus:not(:active){
    -moz-box-shadow: 1px 1px 1px 1px $background-color;
    -webkit-box-shadow: 1px 1px 1px 1px $background-color;
    box-shadow:         1px 1px 1px 1px $background-color;
    border-color: transparent;
    color:$font-color;

}
.button:focus:active{
    color:white;
}
.button.is-focused:not(:active){
    color:white;
}
.button:focus:not(:active){
    color:white;
}

.button:active, .button.is-active,{
/*    color:$font-color;*/
    color:white !important;
    background-color:$complementary;
}
.button:focus, .button.is-focused,{
    border-color:transparent;
    color:$font-color;
}
/*End OF Button Styles*/
.wrong{
    color:#FF004F;
}
.true{
    color:#00E361;
}

.message-header{
    background-color: $complementary;
}